{% extends 'base.html' %}
{% block content %}
    <title>LITReview - Connexion</title>
    <section class="connexion">
        <article>
            <p>Inscrivez-vous maintenant</p>
            <a href="{% url 'signup' %}">S'inscrire</a>
        </article>
        
        <form action="" method="post">
            <h1>Se connecter</h1>
            <div class="form-group">
                {{ form.as_p }}
                {% csrf_token %}
            </div>
            <input type="submit" value="Se connecter" class="btn btn-success">
        </form>
    </section>
    
{% endblock %}